
.header {
    height: 80px;
    border: 1px solid black;
    background: #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010165;
}

.sidebar {
    border: 1px solid blue;
    background-color: #010165;
    color: #00ffff;
}

.main {
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center; */
    background: #010165;

}
#game-board {
    /* border: 1px dotted red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-auto-flow: row wrap; 
    /* justify-content: center; */

    /* width: 80%; */
    height: 666px;


}
.game-block {


    display: inline-block;

    border-radius: 80%;
    cursor: pointer;
    border: 2px solid #00ffff;
    margin: 1px


}

.col0 {
    background: lightgreen
}


.empty {
    background-color: #010165;;
}

.playerOne {
    background-color: #eb6536;
}

.playerTwo {
    background-color: purple;
}